<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"
        tools:ignore="SelectedPhotoAccess" />

    <application
        android:name=".themes.ThemasAplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logo_firebase"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_firebase_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CloudeFirestoreExemplos"
        tools:targetApi="31">
        <activity
            android:name=".view.PerfilActivity"
            android:exported="false"
            android:parentActivityName=".view.MainActivity"/>
        <activity
            android:name=".view.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".view.MainActivity"
            android:exported="false" />
        <activity
            android:name=".view.CadastroActivity"
            android:exported="false"
            android:parentActivityName=".view.LoginActivity" />
        <activity
            android:name=".view.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>